* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.content__container {
  display: flex;
  margin: 32px;
  gap: 16px;
}

.main__title {
  text-align: center;
  font-weight: 500;
  margin-top: 16px;
}